.header h2 {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10vm;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.header-link {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-link:hover {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

}

.header-link a {
    color: inherit;
    text-decoration: none;
}