/* styles.css */
 /* #ee499c-pink
    #5e17eb - dark blue
 */

html, body {
    font-family: Arial,
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.header h2 {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10vm;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.header-link {
    color: #5e17eb;
    font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-link:hover {
    color: #5e17eb;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

}

.header-link a {
    color: inherit;
    text-decoration: none;
}

.headline {
    font-family: Arial;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5%;
    padding: 0;
    height: 60vm;

}

#headline-interview {
    color:  #ee499c;
}

#headline-first-aid {
    color:  #6f5af8;
}

.headline:hover #headline-interview {
    color:  #6f5af8;
}

.headline:hover #headline-first-aid {
    color:  #ee499c;
}

#start-heading:hover {
   font-family: Arial;
   font-size: 80px;
    color:  #ee499c;
}

#logo-sentence {
   font-family: Arial;
   font-size: 34px;
   font-weight: bold;
   color:  #ee499c;

}

#chat-starter {
    width: 100%;
    height: 60%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;

}

#start-sentence{
   font-family: "Comic Sans MS";
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color:  #5e17eb;
   width: 100%
}

#start-chat-form
{
   width: 50%
}

input[type="text"] {
    width: 100%;
    height: 200vm;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit_button {
    width: 100%;
    height: 50vm;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:  #ee499c;
    border: 1px solid #ccc;
    border-radius: 4px;
}


