/* styles.css */
 /* #ee499c-pink
    #5e17eb - dark blue
    #6f5af8 - theme blue

    #416552 - theme dark green
    #f7f7f7  - grey
    #000000 - dark black
    #aabab1  - theme light green
    #FFFFFF - white
 */

html, body, .page-body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

html, .page-body {
    background-image: url("../image/bg_v1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header h2 {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10vm;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.header-link {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-link:hover {
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

}

.header-link a {
    color: inherit;
    text-decoration: none;
}

.headline {
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5%;
    padding: 0;
    height: 60vm;

}

#headline-interview {
    color:  #416552;
}

#headline-first-aid {
    color:  #416552;
}


.logo-sentence {
   font-family: Arial;
   font-size: 34px;
   font-weight: bold;
   color:  #000000;

}

#chat-starter {
    width: 100%;
    height: 40%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;

}

#start-sentence{
   font-family: "Comic Sans MS";
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color: #000000;
   width: 100%
}

#start-chat-form
{
   width: 50%
}

input[type="text"] {
    width: 75%;
    height: 75%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5%
}

.submit_button {
    width: 25%;
    height: 40vm;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:  #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #416552;
}

.subpage-heading{
    font-family: Arial;
    color:  #416552;
    font-size: 60px;
    font-weight: bold;

}

/* pricing html */
.payment-plan-title {
    font-family: Arial;
    background-color: #edebfa
}

.pay-container{
    height: 80%;
}
.pay-row{
     display: flex;
     justify-content: space-evenly;
     height: 80%;
     margin-top: 5%;
}

.pay-card{
    width: 20%;
    height: 75%
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #aabab1;
    font-family: "Comic Sans MS";
    height: 10%;
}

.card-content{
    height: 90%;
}

.clickable-card:active {
    background-color: #aabab1; /* Change to your desired color */
}

.price {
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: #416552;
}

.price-description {
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #000000;
}

