/* styles.css */
 /* #ee499c-pink
    #5e17eb - dark blue
 */

body {
    font-family: Arial,
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.header {
    justify-content: space-between;
    width: 100%;
    height: 10vm;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.header-link {
    color: #5e17eb;
    font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0;
}

.header-link:hover {
    color: #5e17eb;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

}

.header-link a {
    color: inherit;
    text-decoration: none;
}

.headline {
    font-family: Arial;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10%;
    padding: 0;
    height: 60vm;

}

#headline-interview {
    color:  #ee499c;
}

#headline-first-aid {
    color:  #6f5af8;
}

.headline:hover #headline-interview {
    color:  #6f5af8;
}

.headline:hover #headline-first-aid {
    color:  #ee499c;
}

#start-heading:hover {
   font-family: Arial;
   font-size: 80px;
    color:  #ee499c;
}

#logo-sentence {
   font-family: Arial;
   font-size: 34px;
   font-weight: bold;
   color:  #ee499c;

}

#chat-starter {
    width: 100%;
    height: 40vm;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    border: 0px;

}

#start-sentence{
   font-family: "Comic Sans MS";
   font-size: 20px;
   font-weight: bold;
   color:  #5e17eb;
   width: 50%
}

input[type="text"] {
    width: 50%;
    height: 100vm;
    border: 1px solid #ccc;
    border-radius: 4px;
}

